<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @post.errors.any? %>
    <div class="form-group" error_explanation">
      <h2>入力誤り<%= @post.errors.count %>件</h2>
      <p>誤りを下記に表示します</p>

      <ul class="nav nav-list">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :タイトル：, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :内容：, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, cols: 60, rows: 8, :class => 'form-control' %>
    </div>
  </div>


  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            posts_path, :class => 'btn btn-default' %>
 
<% end %>
