<%- model_class = Post -%>
<% if current_user %>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
<% end %>

